<app-auth-container [auth]="true">
      <img
          src="assets/images/logo.svg"
          class="login_logo mx-auto mb-4 d-block"
          alt="enter phone number"
          loading="lazy"
        />
    <h4 class="text-center text-light">
        تفعيل الحساب
    </h4>
    <img src="assets/images/password-cuate.svg" alt="otp" loading="lazy" class="otp_img" />
    <form>
        <div class="d-flex  justify-content-center gap-2 align-items-center mb-4 flex-row-reverse">
            @for (item of [0, 1, 2, 3]; track $index) {
            <input #otpInput type="text" inputmode="numeric" maxlength="1" (keyup)="onKeyUp($event, $index)"
                (keydown)="onKeyDown($event, $index)" (paste)="onPaste($event)"
                class="otp_input text-center text-2xl font-bold border-2  focus:border-primary outline-none transition-all"
                style="border-style: solid;" />
            }
        </div>

        <button (click)="verify()" [disabled]="loading()" class="w-100 main_btn">
            {{ loading() ? 'تحميل...' : 'تأكيد ' }}
        </button>

        @if (message()) {
        <p class="mt-3 text-center font-medium" [class.text-green-600]="isSuccess()"
            [class.text-red-600]="!isSuccess()">
            {{ message() }}
        </p>
        }
    </form>
    <div class="flex_between mb-3 gap-2 px-3 w-100">
    <!-- [disabled]="disabledBtn()" -->

  <button
    type="button"
    class="resendCodeBtn text-white"
    [class.purple_color]="!timerRunning()"
    (click)="resendCode()"
    [disabled]="buttonDisabled()"
  >
    <span [class.spin-animation]="isSpinning()">
      <i class="fas fa-repeat"></i>
    </span>
    إعادة الإرسال
  </button>

  <div class="text-center text-light" *ngIf="timerRunning() && timer() >= 10">
    {{ timer() }} : 00
  </div>
  <div class="text-center text-light" *ngIf="timerRunning() && timer() < 10">
    0{{ timer() }} : 00
  </div>
  <div class="text-center text-light" *ngIf="!timerRunning()">
    00 : 00
  </div>
</div>

</app-auth-container>