/* Main properties that control the layout direction are:
-----------------------------------------------
- Direction (LTR/RTL)
- Float (left/right)
- Margin 
- Padding
- Absolute position (left/right)
- Background position (left/right)
- Border
- Border radious
- Note: "Think about flexbox properties"
*/

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args !important;
  -moz-transition: $args !important;
  -ms-transition: $args !important;
  -o-transition: $args !important;
  transition: $args !important;
}

/* Clearfix */

@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/* Direction */

@mixin dir-direction($value) {
  @if $value==ltr {
    html[lang="en"] & {
      direction: ltr;
    }

    html[lang="ar"] & {
      direction: rtl;
    }
  }

  @else if $value==rtl {
    html[lang="en"] & {
      direction: rtl;
    }

    html[lang="ar"] & {
      direction: ltr;
    }
  }
}

/* Float */

@mixin dir-float($value) {
  @if $value==left {
    html[lang="en"] & {
      float: left;
    }

    html[lang="ar"] & {
      float: right;
    }
  }

  @else if $value==right {
    html[lang="en"] & {
      float: right;
    }

    html[lang="ar"] & {
      float: left;
    }
  }

  @else {
    float: none;
  }
}

/* Margin */

@mixin dir-margin($top, $right, $bottom, $left) {
  html[lang="en"] & {
    margin: $top $right $bottom $left;
  }

  html[lang="ar"] & {
    margin: $top $left $bottom $right;
  }
}

@mixin dir-margin-left($value) {
  html[lang="en"] & {
    margin-left: $value;
  }

  html[lang="ar"] & {
    margin-right: $value;
  }
}

@mixin dir-margin-right($value) {
  html[lang="en"] & {
    margin-right: $value;
  }

  html[lang="ar"] & {
    margin-left: $value;
  }
}

/* Padding */
@mixin dir-padding($top, $right, $bottom, $left) {
  html[lang="en"] & {
    padding: $top $right $bottom $left;
  }

  html[lang="ar"] & {
    padding: $top $left $bottom $right;
  }
}

@mixin dir-padding-left($value) {
  html[lang="en"] & {
    padding-left: $value;
  }

  html[lang="ar"] & {
    padding-right: $value;
  }
}

@mixin dir-padding-right($value) {
  html[lang="en"] & {
    padding-right: $value;
  }

  html[lang="ar"] & {
    padding-left: $value;
  }
}

/* Left And Right For Absolute Position */

@mixin dir-left($value) {
  html[lang="en"] & {
    left: $value;
  }

  html[lang="ar"] & {
    right: $value;
  }
}

@mixin dir-right($value) {
  html[lang="en"] & {
    right: $value;
  }

  html[lang="ar"] & {
    left: $value;
  }
}


@mixin clamp($num) {
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* d-f-center */
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* d-f-between */
@mixin between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* d-f-start */
@mixin start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* d-f-ens */
@mixin end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Circle */
@mixin circle($dimensions){
  border-radius: 50%;
  width: $dimensions;
  height: $dimensions;
}

/* shape */
@mixin shape($size, $radius: 0) {
  width: $size;
  height: $size;

  @if $radius != 0 {
    @include border-radius($radius);
  }
}

/* List Style */
@mixin list_style {
  list-style-type: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

@function half($size) {
  @return $size / 2;
}

@mixin circle_center($diminsion) {
  width: $diminsion;
  height: $diminsion;
  border-radius: $half;
  @include center
}
@mixin shape_center($size, $radius: 0) {
  width: $size;
  height: $size;
  @include center;
  @if $radius != 0 {
    @include border-radius($radius);
  }
}


@mixin border-radius($val) {
  -webkit-border-radius: $val !important;
  -moz-border-radius: $val !important;
  -ms-border-radius: $val !important;
  -o-border-radius: $val !important;
  border-radius: $val !important;
}

/* Overlay */
@mixin overlay($bg){
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg;
  z-index: -1;
}

/* Grid */
@mixin grid($width, $gap){
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width , 1fr));
  gap: $gap*1.2 $gap;
}

/* translate */
@mixin translate($value){
  html[lang="en"] & {
    transform: translateX($value) !important;
  }

  html[lang="ar"] & {
    transform: translateX(-$value) !important;
  }
}