.contain_tabs .tab {
    cursor: pointer;
    height: 60px;
    flex-basis: 280px;
    text-align: center;
    background: #f8f8f8;
    color: black;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 20px;
}

.contain_tabs .tab.active,
.contain_tabs .tab:hover {
    background: #f2994a;
    color: white;
}

.contain_tabs .tab {
    @media (max-width: 991px) {
        flex-basis: 200px;
    }
}


.tab_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}